  <div class="top-line">
    <h1></h1>
    <p></p> 
  </div>
  <div class="container">
    <div id="help">
      <h3>Cadastro</h3>
      <p>Realize seu cadastro no PKanban em um minuto. Assim você pode começar a planejar, organizar e trabalhar de forma mais eficiente.</p>
    </div>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div><%= f.label :senha %><br />
      <%= f.password_field :password %></div>

      <div><%= f.label :confirme_senha %><br />
      <%= f.password_field :password_confirmation %></div>

      <div><%= f.submit "Entrar" %></div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
