<%= form_for(@task) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :Sprint_id, :value => @sprint_id %>

  <% if params[:action] == 'new'%>
    <%= f.hidden_field :column, :value => '1.0' %>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :color %><br />
    <%= f.text_field :color %>
  </div>
  <div class="field">
    <%= f.label :priority %><br />
    <%= select_tag "task[priority]", options_for_select([ "1.0", "3.0", "5.0", "8.0" ], @task.priority) %>
  </div>
  <div class="field">
    <%= f.label :date_init %><br />
    <%= f.date_select :date_init %>
  </div>
  <div class="field">
    <%= f.label :date_end %><br />
    <%= f.date_select :date_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
