<p id="notice"><%= notice %></p>
<%= link_to 'New Task', :controller => 'tasks', :action => :new, :id => params[:id] %></td>
<%= link_to 'Back', sprints_path %>


<div id="logger">
  <div id="coll_debug_01"></div>
  <div id="coll_debug_02"></div>
</div>


<div id="kanban">

  <div id="coll-01" class="recebeDrag coll">
    <h1>Back Log</h1> 
    <% @coll_01.each do |task| %>
      <div class="item_drag" id="<%= task.id %>">
        <h2 style="background:<%= task.color %>"><%= task.id %> - Priority <%= task.priority %></h2>
        <p><%= task.name %></p>
        <%= link_to 'Edit', :controller => 'tasks', :action => :edit, :id => task.id %>
        <%= link_to 'Delete', task, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
      </div>
    <% end %>
  </div>

  <div id="coll-02" class="recebeDrag coll">
    <h1>In Progress</h1> 
  </div>

  <div id="coll-03" class="recebeDrag coll">
    <h1>Offside</h1> 
  </div>

  <div id="coll-04" class="recebeDrag coll">
    <h1>Done</h1> 
  </div>

</div>


