<p id="notice"><%= notice %></p>

<p>
  <b>Sprint:</b>
  <%= @task.Sprint %>
</p>

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Color:</b>
  <%= @task.color %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.priority %>
</p>

<p>
  <b>Date init:</b>
  <%= @task.date_init %>
</p>

<p>
  <b>Date end:</b>
  <%= @task.date_end %>
</p>

<p>
  <b>Obs:</b>
  <%= @task.obs %>
</p>


<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
