<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sprint.name %>
</p>

<p>
  <b>Date init:</b>
  <%= @sprint.date_init %>
</p>

<p>
  <b>Date end:</b>
  <%= @sprint.date_end %>
</p>


<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
