<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>PKanban</title>
<meta content="" name="keywords">
<meta content="" name="description">

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato">
<%= stylesheet_link_tag    "kanban", "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

</head>

<body>
<section>
  <header>
      <h1>PKanban</h1>
      <nav id="menu">
        <ul>
          <li><a href="/" alt="home">home</a></li>
          <li>
	          <% if user_signed_in? %>
		          <%=link_to('logout', destroy_user_session_path, :method => :delete, :class => 'user_logged')%>
	          <% else %>
		          <%=link_to('login', new_user_session_path)%>
	          <% end %>
	        </li>
        </ul>
	      <% if user_signed_in? %>
          <p><%= current_user.email %></p>
	      <% end %>
      </nav>
  </header>
</section>

<section id="content">
  <div class="top-line">
    <h1></h1>
    <p>  <%= flash_messages %></p>
  </div>
  <%= yield %>
</section>


<section>
  <footer><p>PKanban 2012 -Licensed under a MIT.</p></footer>
</section>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38981999-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>

