<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Pkanban</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header id="header">
    <a href="" id="logo">PKanban</a>
    <nav id="menu">
        <ul>
            <li>Sprints</li>
            <li>Kanban</li>
        </ul>
    </nav>
      <% if user_signed_in? %>
        <%=link_to('Logout', destroy_user_session_path, :method => :delete, :class => 'user_logged')%>
      <% end %>
</header>

<section id="content">
    <%= yield %>
</section>

<footer id="footer">
    <p>Copyright 2012 PKanban</p>
</footer>

</body>
</html>
